<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />

        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

    </head>
    <body>

    <header>
      <div class="container">
        <h1>{{ site.name }}</h1>
        <h2>Implementations of programming languages</h2>

        <section id="downloads">
          <a href="https://github.com/andrejbauer/plzoo/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/andrejbauer/plzoo/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/andrejbauer/plzoo" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
      {{ content }}
      </section>
    </div>
    </body>
</html>
