<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />

        <title>The Programming Languages Zoo</title>
        <meta name="viewport" content="width=device-width">

    </head>
    <body>

    <header>
      <div class="container">
        <h1>The Programming Languages Zoo</h1>
        <h2>A potpourri of programming languages</h2>
      </div>
      <div id="navbar" class="container">
        &gt; <a href="index.html">home</a>
        {% if page.navigation %}
        &gt; {{ page.navigation }}
        {% endif %}
      </div>
    </header>

    <div class="container">
      <section id="main_content">
      {{ content }}
      </section>
    </div>
    </body>
</html>
